.img_delhi {
    height: 300px;
    width: 300px;
}

.img_goa {
    height: 300px;
    width: 300px;
}

.img_hyderabad {
    height: 300px;
    width: 300px;
}

.img_calcutta {
    height: 300px;
    width: 300px;
}

.img_facebook {
    height: 20px;
    width: 22px;
}

.img_instagram {
    height: 20px;
    width: 22px;
}

.img_twitter {
    height: 20px;
    width: 22px;
}